.track {
    width: 200px;
    height: 40px;
    margin: 5px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .active {
    background-color: rgba(160, 160, 160, 0.5);
  }